#right-col {
    background: #eee !important;
}
#cart-left-col #free-section {
    font-size: 0.9rem;
}
#cart-left-col #btn-checkout {
    padding: 0.5rem 6rem;
    letter-spacing: 2px;
}
.bg-white {
    background: white;
}
.bg-eee {
    background: #eee;
}
